@font-face {
  font-family: "iconfont"; /* Project id 2684899 */
  src: url('iconfont.woff2?t=1641731822370') format('woff2'),
       url('iconfont.woff?t=1641731822370') format('woff'),
       url('iconfont.ttf?t=1641731822370') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shanchu:before {
  content: "\e68e";
}

.icon-edit:before {
  content: "\e8c7";
}

.icon-tianjia-:before {
  content: "\e636";
}

.icon-search:before {
  content: "\e666";
}

